body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Play', sans-serif;
}

section {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

div {
  display: flex;
  align-items: center;
}

#nav {
  justify-content: space-between;
  background-color: #A8F6B5;
}

#nav div {
  margin-right: 2em;
  width: 225px;
  justify-content: space-between;
}

#home {
  margin: 20px;
  font-family: 'Cinzel Decorative', cursive;
  font-size: xx-large;
}

#costAndToggle {
  flex-direction: column;
  background-color: #D9D9D9;
}

#bookingsToggle {
  display: flex;
  flex-direction: row;
}

.action-btn {
  width: 150px;
  height: 50px;
  background-color: blue;
  color: white;
  font-size: larger;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.action-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.action-btn span {
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}

.action-btn span::after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.action-btn:hover span {
  padding-right: 20px;
}

.action-btn:hover span::after {
  opacity: 1;
  right: 0;
}

#userSettings {
  height: 2em;
  width: 2em;
  padding: .5em;
  border-radius: 50%;
  background-color: #D9D9D9;
}

#totalAmountSpentTitle {
  margin-bottom: 0;
}

#costAndToggle div {
  margin-bottom: 20px;
}

#costAndToggle div span {
  font-size: xx-large;
}

#totalAmountSpentTitle {
  font-size: larger;
}

:root {
  --costInDollars: 0;
  --cents: 0;
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

#totalAmountSpentDollars {
  counter-reset: dollars var(--num);
  animation: dollarCounter 5s forwards ease-in-out;
}

#totalAmountSpentDollars::after {
  content: counter(dollars);
}

@keyframes dollarCounter {
  from {
    --num: 0;
  }
  to {
    --num: var(--costInDollars);
  }
}

#cents {
  counter-reset: cents var(--num);
  animation: centsCounter 5s forwards ease-in-out;
}

#cents::after {
  content: counter(cents);
}

@keyframes centsCounter {
  from {
    --num: 0;
  }
  to {
    --num: var(--cents);
  }
}

#bookingsToggleTitle {
  font-size: xx-large;
  margin: 0 0 5px;
}

#bookingsToggle {
  font-size: 17px;
  color: white;
  background-color: rgba(52, 51, 51, 0.723);
  display: flex;
  width: 30vw;
  height: 60px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 25px;
  margin-bottom: 5px;
  min-width: 230px;
}

.toggle-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 40px;
  border-radius: 25px;
  border: solid 2px #00000000;
}

.selected-view {
  background-color: #242528;
}

.unselected-view {
  transition: 0.2s;
}

.unselected-view:hover {
  border: solid 2px #242528;
  cursor: pointer;
}

#bookings {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

#noBookings {
  margin: 100px;
  align-self: center;
}

#bookings div {
  width: 100%;
}

.row {
  animation: animate-row 0.5s ease-in-out forwards;
}

@keyframes animate-row {
  0% {
    opacity: 0;
    height: 0%;
  }
  100% {
    opacity: 1;
    height: 35%;
  }
}

#bookings div span {
  margin-right: 30px;
  min-width: 120px;
  height: 30px;
  display: flex;
  align-items: center;
}

/* book room flow */

#newBooking {
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  max-height: 95%;
  border-radius: 50px;
  z-index: 1;
  background-image: linear-gradient(to right, #535a72cc, #171d2fcc);
  min-width: 500px;
}

#bookingContainer {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  overflow: clip;
  border-radius: 50px;
  background-color: white;
}

#bookingContainer > div {
  width: 100%;
  justify-content: space-between;
}

.nav-btn {
  height: 50px;
  width: 50px;
  margin: 30px;
  cursor: pointer;
}

.nav-btn:hover {
  transition: .2s;
  transform: scale(1.2);
}

.panel {
  flex-direction: column;
  background-color: white;
  height: 80%;
  width: 95%;
  border-radius: 50px;
}

.hidden {
  display: none;
}

.no-click {
  pointer-events: none;
}

.blur {
  filter: blur(4px);
}

.fade-in {
  animation: fade-in 0.5s ease-in forwards;
}

@keyframes fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
    height: 0%;
  }
  30% {
    visibility: hidden;
    opacity: 0;
  }
  60% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: visible;
    opacity: 1;
    height: 98%;
  }
}

.slide-out {
  animation: slide-out .5s ease-in forwards;
}

@keyframes slide-out {
  0% {
    border: black;
    border-style: solid;
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%);
  }
}

.slide-in {
  animation: slide-in 1.5s ease-out forwards;
}

@keyframes slide-in {
  0% {
    border: black;
    border-style: solid;
    opacity: 0;
    transform: translateX(100%);
  }
  40% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    border: none;
  }
}

#datePicker {
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.panel label {
  font-size: 50px;
  margin-bottom: 50px;
}

#datePicker input {
  font-size: 50px;
  margin-bottom: 50px;
}

#selectRoomTypePanel select {
  font-size: 30px;
  margin-bottom: 50px;
}

#roomsAvailablePanel p {
  font-size: 50px;
  margin-top: 0;
}